# Mac
**/.DS_Store

# Swap
**/*.swp
**/*.bak

# Pycharm
.idea

# Document
document
README.md
LICENSE.txt

# Deployment
deployment

# Git
.git
.gitattributes
.gitignore

# Docker
.dockerignore

# Test code
**/test

# Python
**/*.py[cod]
**/__pycache__

# Virtual Env
venv

# Log
**/*.log

# Socket
**/*.sock

# Data directory
judicator/data/*
executor/data/*
gateway/data/*

# Pid file
**/*.pid

# Config file
judicator/config/*.json
executor/config/*.json
gateway/config/*.json
