# Mac
.DS_Store

# Swap
*.swp
*.bak

# Pycharm
.idea

# Python
*.py[cod]
__pycache__

# Virtual Env
venv

# Log
*.log

# Socket
*.sock

# Etcd data file
data/etcd/*

# Mongodb data file
data/mongodb/*