{%extends "frame.html"%}
{%block html%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Find Tags</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- column -->
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">"It tastes like nothing."</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="search">
                            <div class="row">
                                <div class="col-3"><label>Add Tags!</label></div>
                                <div class="col-6"><label for="search_name">Search Tags</label></div>
                                <div class="col-3"><label>Go Search!</label></div>
                            </div>
                            <div class="row">
                                <button class="col-3 btn btn-success" data-toggle="dropdown" >Add!</button>
                                <!-- Notifications Dropdown Menu -->
                                <div class="dropdown-menu dropdown-menu-lg">
                                    <span class="dropdown-header dropdown-item-text"><b>Add Tag</b></span>
                                    <div class="dropdown-item-text">
                                        <input  class="form-control" id="add_tag_name" placeholder="Tag Name">
                                    </div>
                                    <a href="javascript:void(0);" class="dropdown-footer dropdown-item bg-success" onclick="add_tag();">Add</a>
                                </div>
                                <div class="col-6"><input id="search_name" class="form-control"></div>
                                <button class="col-3 btn btn-success" onclick="find_tags();">Search!</button>
                            </div>
                        </div>
                        <div class="row">
                            <label></label>
                        </div>
                        <table class="table table-bordered" style="/*word-wrap:break-word; word-break:break-all;*/">
                            <thead>
                                <tr>
                                    <th style="width: 15%">Id</th>
                                    <th style="width: 55%">Name</th>
                                    <th style="width: 15%">Edit</th>
                                    <th style="width: 15%">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="tag">
                                <tr v-for="x in data">
                                    <td>{{x.id}}</td>
                                    <td>{{x.name}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-success" data-toggle="dropdown">Edit!</button>
                                        <!-- Notifications Dropdown Menu -->
                                        <div class="dropdown-menu dropdown-menu-lg">
                                            <span class="dropdown-header dropdown-item-text"><b>Edit Tag Name</b></span>
                                            <div class="dropdown-item-text">
                                                <input class="form-control" placeholder="New Tag Name" v-model="x.new_name">
                                            </div>
                                            <a href="javascript:void(0);" class="dropdown-footer dropdown-item bg-success" v-on:click="edit_tag(x.id,x.new_name);">Edit!</a>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" data-toggle="dropdown">Delete!</button>
                                        <!-- Notifications Dropdown Menu -->
                                        <div class="dropdown-menu dropdown-menu-lg">
                                            <span class="dropdown-header dropdown-item-text"><b>Sure?</b></span>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:void(0);" class="bg-danger dropdown-footer dropdown-item" v-on:click="delete_tag(x.id);">I said Delete!</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-if="!data.length"><td colspan="7" style="text-align: center">Oooops! No results found!</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->

            </div>
            <!--/.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{%endblock%}
{%block script%}
<script>
$(
function ()
{
    document.title = "Don't Starve! - Manage Tags";
    $("body").css({"min-width": "500px"});
    $("#nav_find_tags").addClass("active");
    find_tags();
}
);
var tag = new Vue(
    {
        el: "#tag",
        data: {
            data:[]
        },
        methods: {
            edit_tag: function(id, new_name)
            {
                ajax(
                    "api/edit_tag",
                    {"id": id, "name": new_name},
                    function(res)
                    {
                        show_message(true, "alert-success", "Tag Changed!", "Hope your will remember its new name!");
                        find_tags();
                    }
                );
            },
            delete_tag: function(id)
            {
                ajax(
                    "api/delete_tag",
                    {"id": id},
                    function(res)
                    {
                        show_message(true, "alert-success", "Tag Deleted!", "A tag has gone!");
                        find_tags();
                    }
                );
            }
        }
    }
);
function find_tags()
{
    tag.$data.data = [];
    ajax(
        "api/find_tags",
        {name_query: $("#search_name").val()},
        function(res)
        {
            for (var t of res)
                t["new_name"] = t["name"];
            tag.$data.data = res;
        }
    );
}
function add_tag()
{
    ajax(
        "api/add_tag",
        {"name": $("#add_tag_name").val()},
        function(res)
        {
            $("#add_tag_name").val("");
            show_message(true, "alert-success", "Tag Added!", "You now have a new tag!");
            find_tags();
        }
    );
}
</script>
{%endblock%}
