{%extends "frame.html"%}
{%block html%}
<link rel="stylesheet" href="res/plugins/openlayers/ol.css" />
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>View Restaurant</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- column -->
            <div class="col-md-6">
                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">"I don't know if I'm hungry enough."</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" id="restaurant">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 25%">Attribute</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Id</td>
                                    <td>{{data.id}}</td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td>{{data.name}}</td>
                                </tr>
                                <tr>
                                    <td>Branch</td>
                                    <td>{{data.branch}}</td>
                                </tr>
                                <tr>
                                    <td>Postcode</td>
                                    <td>{{data.postcode}}</td>
                                </tr>
                                <tr>
                                    <td>Price</td>
                                    <td>{{data.price}}</td>
                                </tr>
                                <tr>
                                    <td>Note</td>
                                    <td>{{data.note}}</td>
                                </tr>
                                <tr>
                                    <td>Update Time</td>
                                    <td>{{data.update_time}}</td>
                                </tr>
                                <tr>
                                    <td>Tags</td>
                                    <td><span v-for="tag in data.tags"><span class="badge bg-success">{{tag.name}}</span>&nbsp;</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer btn-group">
                        <button class="btn btn-default" onclick="go_back();">OK</button>
                        <button class="btn btn-info" onclick="window.location.href='edit_restaurant?id='+restaurant.$data.data.id;">Edit</button>
                        <div class="dropdown-menu dropdown-menu-lg">
                            <span class="dropdown-header dropdown-item-text"><b>Sure?</b></span>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" class="bg-danger dropdown-footer dropdown-item" onclick="delete_restaurant(restaurant.$data.data.id);">I said Delete!</a>
                        </div>
                        <button class="btn btn-danger" data-toggle="dropdown">Delete</button>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!--/.col -->
            <!-- column -->
            <div class="col-md-6">
                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">"That's an entirely scientific mapping tool."</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="map" style="height: 480px; width: 100%;}"></div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{%endblock%}
{%block script%}
<script src="res/plugins/openlayers/ol.js"></script>
<script>
$(
function ()
{
    document.title = "Don't Starve! - View Restaurant";
    ajax(
        "api/get_restaurant",
        {"id": restaurant.$data.data.id},
        function(res)
        {
            restaurant.$data.data = res;
            ajax(
                "api/get_postcode_coord",
                {"postcode": restaurant.$data.data.postcode},
                function(res)
                {
                    map.setView(new ol.View({center: ol.proj.fromLonLat(res), zoom: 17}));
                    var style = new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 7,
                            fill: new ol.style.Fill({color: 'red'}),
                            stroke: new ol.style.Stroke({color: [0, 0, 0], width: 2})
                        })
                    });
                    var feature = new ol.Feature({geometry: new ol.geom.Point(ol.proj.fromLonLat(res))});
                    feature.setStyle(style);
                    map.addLayer(new ol.layer.Vector({source: new ol.source.Vector({features: [feature]})}));
                }
            )
        }
    );
}
);
var restaurant = new Vue(
    {
        el: "#restaurant",
        data: {
            data: {
                "id": [[id]],
                "name": "",
                "branch": "",
                "postcode": "",
                "note": "",
                "tags": [],
                "update_time": ""
            }
        }
    }
);
var map = new ol.Map({
    target: 'map',
    layers: [new ol.layer.Tile({source: new ol.source.OSM()})],
    view: new ol.View({center: ol.proj.fromLonLat([-0.1770659, 51.498803]), zoom: 16})
});
function delete_restaurant(id)
{
    ajax(
        "api/delete_restaurant",
        {"id": restaurant.$data.data.id},
        function() {go_back();}
    );
}
</script>
{%endblock%}
